*{margin:0; padding:0;}
body{
  background-color: #325b84;
}
#menu{
  display: block;
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: #003366;
}
#btn{
  display: flex;
  position: relative;
  color: white;
  font-size: 1.5rem;
  margin-left: 12px;
  margin-top: 12px;
  cursor: pointer;
}
.calendar{
  display: block;
  position: absolute;
  height: 245px;
  width: 255px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top:50%;
  left: 20%;
  cursor: pointer;
  background-color: green;
}
.calendarf:hover{
  filter: blur(8px);
   -webkit-filter: blur(8px);
}
.calendarf{
  display: block;
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 15px solid #ff0666;
  transform: translate(-50%, -50%);
  top:50%;
  left: 20%;
  cursor: pointer;
}

#lateralfull{
  display: none;
  position: absolute;
  height:100vh;
  width: 100vw;
  background-color: rgba(0, 44, 44, 0.4);
  z-index: 999;
  color:white;
}
.lateral{
  display: block;
  position: absolute;
  height: 100vh;
  width: 350px;
  background-color: red;
}
#btna{
  display: flex;
  position: relative;
  color: white;
  font-size: 1.5rem;
  margin-left: 12px;
  margin-top: 12px;
  cursor: pointer;

}
